main {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;

  max-width: 43.75rem;

  align-items: center;
  justify-content: center;

  padding: 0.625rem;

  margin-left: auto;
  margin-right: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.message {
  background: var(--surface-color);

  border-radius: 1.25rem 0 1.25rem 1.25rem;

  padding: 1.25rem;

  max-width: 80%;
  white-space: normal;
  overflow-wrap: break-word;

  margin-left: auto;

  margin-bottom: 50px;

  &:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  &.incoming {
    margin-left: 0;
    margin-right: auto;
    border-radius: 0 1.25rem 1.25rem 1.25rem;
  }

  & > p {
    white-space: pre-wrap;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }
}

.title {
  position: absolute;
  background-image: var(--main-gradient);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  padding: 0.625rem;
}

.prompt {
  display: flex;
  position: sticky;
  bottom: 1.25rem;
  justify-content: center;
  width: 100%;
}

.sidebar {
  width: 13.75rem;
  background: #171717;
  padding: 1rem;
  overflow-y: auto;
  max-height: 99vh;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }

  li {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    cursor: pointer;
    border-radius: var(--border-radius);

    & > span {
      width: 100%;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > button {
      opacity: 0;
    }

    &:hover > button {
      opacity: 1;
    }
  }

  .active {
    background: var(--surface-color);

    & > button {
      opacity: 1;
    }
  }

  li:hover {
    opacity: 0.7;
  }

  .button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--surface-color);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 1;
    height: 100%;
  }

  .SidebarButton {
    position: fixed;
    z-index: 2;
  }
}

@media (hover: none) {
  *:hover {
    opacity: 1;
  }
}