.backdrop {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 12;

    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    background-color: rgba(0, 0, 0, 0.1);

    justify-content: center;
    align-items: center;
}

.settings {
    background: var(--background-color);
    border-radius: var(--border-radius);

    padding: 1.875rem;

    & > h2 {
        margin-top: 0;
    }
}

.settingsContent {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;

    width: 100%;

    border-radius: var(--border-radius);
}

.dropdownButton {
    & > img {
        min-width: 1.5rem;
        min-height: 1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        margin-right: 0.3125rem;
        user-select: none;
    }

    & > svg {
        min-width: 1.5rem;
        min-height: 1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        margin-right: 0.3125rem;
    }
}

.dropdownItem {
    display: flex;
    padding: 0.625rem;
    cursor: pointer;
    border-radius: var(--border-radius);

    user-select: none;
    align-items: center;

    justify-content: space-between;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: var(--second-surface-color);
        }
    }

    &__text {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        & > img {
            min-width: 1.5rem;
            min-height: 1.5rem;

            width: 1.5rem;
            height: 1.5rem;

            margin-right: 0.3125rem;
        }

        & > svg {
            min-width: 1.5rem;
            min-height: 1.5rem;

            width: 1.5rem;
            height: 1.5rem;

            margin-right: 0.3125rem;
        }
    }
}