@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-scheme: light;
    --text-color: black;
    --background-color: #ffffff;
    --surface-color: #e9eef6;
    --border-radius: 0.625rem;
    --main-gradient: linear-gradient(to right, #4b83f0, #a071c3, #ca6887, #d46678);
    --secondary-gradient: linear-gradient(90deg, #007AFF, #FF2D55, #FF9500);
    --nav-color: #f0f4f9;
    --primary-color: #36383a;
    --secondary-color: #505353;
    --second-surface-color: #e0e3e8;
    --third-surface-color: #e0e3e8;
}

[data-theme="dark"] {
    --color-scheme: dark;
    --text-color: white;
    --background-color: #1b1c1d;
    --surface-color: #232425;
    --border-radius: 0.625rem;
    --main-gradient: linear-gradient(to right, #4b83f0, #a071c3, #ca6887, #d46678);
    --secondary-gradient: linear-gradient(90deg, #007AFF, #FF2D55, #FF9500);
    --nav-color: #171717;
    --primary-color: white;
    --secondary-color: darkgray;
    --second-surface-color: #2f2f2f;
    --third-surface-color: #424242;
}

html, body, #root {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    color-scheme: var(--color-scheme);
    height: 100dvh;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

input,
button,
textarea,
select {
    font-family: inherit;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.katex-mathml {
    position: absolute;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.katex-display > .katex {
    min-width: max-content;
}